 {# Arrows #}
 <svg class="hidden" aria-hidden="true">
    <symbol id="icon-arrow" viewBox="0 0 24 24">
        <title>arrow</title>
        <polygon points="6.3,12.8 20.9,12.8 20.9,11.2 6.3,11.2 10.2,7.2 9,6 3.1,12 9,18 10.2,16.8 "/>
    </symbol>
</svg>
 {# Close X #}
<svg class="hidden" aria-hidden="true" width="24" height="22px">
      <symbol id="icon-close" viewBox="0 0 24 22">
        <title>close</title>
        <path d="M11 9.586L20.192.393l1.415 1.415L12.414 11l9.193 9.192-1.415 1.415L11 12.414l-9.192 9.193-1.415-1.415L9.586 11 .393 1.808 1.808.393 11 9.586z" />
    </symbol>
</svg>