<div class="fl-row fl-row-full-width fl-row-bg-color fl-node-{{node}} wms-breadcrumb-bar" data-node="<?php echo $module->node; ?>">
    <div class="fl-row-content-wrap">
        <!-- render breadcrumbs -->
        {{ breadcrumbs }}
    </div>
</div>