<div id="elastic-wrap"><input id="autocomplete" type="search" name="q" placeholder="Search..." autocomplete="off" maxlength="30"><i id="search-icon">

		<span class="screen-reader-text">Clear search</span>
	</span>
</i></div>
